package registry

import (
	"{{.PackageName}}/logger"
	"gorm.io/gorm"
)

var registeredModels []any

func RegisterModel(model any) {
	registeredModels = append(registeredModels, model)
}

func LoadModels(db *gorm.DB) {
	for _, model := range registeredModels {
		if err := migrate(db, model); err != nil {
			logger.Fatal("failed to automigrate models:", err)
		}
	}
	logger.Info("All models initialized successfully")
}

func migrate(db *gorm.DB, dst any) error {
	// Check if the schema exists, and create it if it doesn't
	if !db.Migrator().HasTable(dst) {
		err := db.Migrator().CreateTable(dst)
		if err != nil {
			logger.Info("Failed to create schema:", err)
			return err
		}
		logger.Info("Schema created successfully")
	} else {
		logger.Info("Schema already exists")
	}
	return nil
}

func init() {
	registeredModels = make([]any, 0)
}
