package app

import (
	"{{.PackageName}}/config"
	"{{.PackageName}}/instance"
	"{{.PackageName}}/repository"
	"{{.PackageName}}/service"
)

// ServiceRegistry is interface for all service entrypoint
type ServiceRegistry interface {
    HealthService() service.HealthSvc
	// TODO: add service dependency here
}

type serviceRegistry struct {
    healthSvc service.HealthSvc
	// TODO: add service dependency here
}

func (svc *serviceRegistry) HealthService() service.HealthSvc {
    return svc.healthSvc
}


// Init initializes serviceRegistry repo
func Init(cfg config.Configuration, instance instance.Instance) ServiceRegistry {
    // Object init
    db := instance.DB()
    
    // Repository init
    healthRepo := repository.NewHealthRepo(db)
    
    // Service init
    healthSvc := service.NewHealthSvc(healthRepo)
	
    return &serviceRegistry{
        healthSvc: healthSvc,
    }
}
