package repository

import (
	"context"
	"fmt"

	"gorm.io/gorm"

	"{{.PackageName}}/logger"
	"{{.PackageName}}/models"
	"{{.PackageName}}/profiler"
)

type {{.InterfaceName}}Repo interface {
	Insert(ctx context.Context, doc models.{{.InterfaceName}}) (uint, error)
	InsertAll(ctx context.Context, docs []models.{{.InterfaceName}}) (bool, error)
	Update(ctx context.Context, doc models.{{.InterfaceName}}, field string, value any) (bool, error)
	UpdateAll(ctx context.Context, doc models.{{.InterfaceName}}) (bool, error)
	Delete(ctx context.Context, doc models.{{.InterfaceName}}) (bool, error)
	DeleteAll(ctx context.Context, ids []uint) (bool, error)
	FindByID(ctx context.Context, id uint) (*models.{{.InterfaceName}}, error)
	FindBy(ctx context.Context, key string, value any) (*models.{{.InterfaceName}}, error)
	FindAll(ctx context.Context) ([]models.{{.InterfaceName}}, error)
}

type {{.StructName}}Repo struct {
	db *gorm.DB
	profiler profiler.Profiler
}

func (repo *{{.StructName}}Repo) Insert(ctx context.Context, doc models.{{.InterfaceName}}) (uint, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:Insert")
	defer span.End()

	result := repo.db.Create(&doc)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return 0, result.Error
	}
	return doc.ID, nil
}

func (repo *{{.StructName}}Repo) InsertAll(ctx context.Context, docs []models.{{.InterfaceName}}) (bool, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:InsertAll")
	defer span.End()

	result := repo.db.Create(&docs)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return false, result.Error
	}
	return true, nil
}

func (repo *{{.StructName}}Repo) Update(ctx context.Context, doc models.{{.InterfaceName}}, field string, value any) (bool, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:Update")
	defer span.End()

	result := repo.db.Model(&doc).Update(field, value)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return false, result.Error
	}
	return true, nil
}

func (repo *{{.StructName}}Repo) UpdateAll(ctx context.Context, doc models.{{.InterfaceName}}) (bool, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:UpdateAll")
	defer span.End()

	result := repo.db.Updates(doc)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return false, result.Error
	}
	return true, nil
}

func (repo *{{.StructName}}Repo) Delete(ctx context.Context, doc models.{{.InterfaceName}}) (bool, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:Delete")
	defer span.End()

	result := repo.db.Delete(doc)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return false, result.Error
	}
	return true, nil
}

func (repo *{{.StructName}}Repo) DeleteAll(ctx context.Context, ids []uint) (bool, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:DeleteAll")
	defer span.End()

	result := repo.db.Where("ID in ?", ids).Delete(&models.{{.InterfaceName}}{})
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return false, result.Error
	}
	return true, nil
}

func (repo *{{.StructName}}Repo) FindByID(ctx context.Context, id uint) (*models.{{.InterfaceName}}, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:FindByID")
	defer span.End()

	var doc models.{{.InterfaceName}}
	result := repo.db.First(&doc, id)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return &doc, result.Error
	}
	return &doc, nil
}

func (repo *{{.StructName}}Repo) FindBy(ctx context.Context, key string, value any) (*models.{{.InterfaceName}}, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:FindBy")
	defer span.End()

	var doc models.{{.InterfaceName}}
	result := repo.db.Where(fmt.Sprintf(`%s=?`, key), value).First(&doc)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return &doc, result.Error
	}
	return &doc, nil
}

func (repo *{{.StructName}}Repo) FindAll(ctx context.Context) ([]models.{{.InterfaceName}}, error) {
	ctx, span := repo.profiler.StartSpan(ctx, "{{.InterfaceName}}Repo:FindAll")
	defer span.End()

	var docs []models.{{.InterfaceName}}
	result := repo.db.Find(&docs)
	if result.Error != nil {
		logger.ErrorContext(ctx, result.Error.Error())
		repo.profiler.RecordError(span, result.Error)
		return docs, result.Error
	}
	return docs, nil
}

func New{{.InterfaceName}}Repo(db *gorm.DB, profiler profiler.Profiler) {{.InterfaceName}}Repo {
	return &{{.StructName}}Repo{
		db: db,
		profiler: profiler,
	}
}
