package service

import (
	"context"

	"{{.PackageName}}/logger"
	"{{.PackageName}}/models"
	"{{.PackageName}}/profiler"
	"{{.PackageName}}/repository"
	"{{.PackageName}}/utils"
)

type HealthSvc interface {
	Ping(ctx context.Context) (*models.Health, error)
}

type healthSvc struct {
	profiler      profiler.Profiler
	healthRepo repository.HealthRepo
}

func (svc *healthSvc) Ping(ctx context.Context) (*models.Health, error) {
	ctx, span := svc.profiler.StartSpan(ctx, "HealthSvc:Ping")
	defer span.End()

	status, err := svc.healthRepo.Ping(ctx)

	if err != nil {
		logger.Error(err.Error())
		return nil, err
	}

	doc := models.Health{
		Success:   status,
		Message:   "Service is up and running",
		HeartBeat: utils.EpochTime(),
	}

	return &doc, nil
}

func NewHealthSvc(
	profiler      profiler.Profiler,
	healthRepo repository.HealthRepo,
) HealthSvc {
	return &healthSvc{
		profiler: profiler,
		healthRepo: healthRepo,
	}
}
