package constants

const (
	APP_ENV_DEVELOPMENT = "development"
	APP_ENV_STAGING     = "staging"
	APP_ENV_PRODUCTION  = "production"
)

const (
	DbDriverSQLite   = "sqlite"
	DbDriverMySQL    = "mysql"
	DbDriverPostgres = "postgres"
)

// TODO: Add constants here.
