package constants

const (
	CONTEXT_TRACKING_ID  = "X-Trace-ID"
	CONTEXT_ACCESS_TOKEN = "CONTEXT_ACCESS_TOKEN"
	CONTEXT_USER_INFO    = "CONTEXT_USER_INFO"
	CONTEXT_METADATA     = "CONTEXT_METADATA"
	CONTEXT_REQUEST_TIME = "X-Request-Time"
)

const (
	CONSTS_USER_ID = "USER_ID"
)
