package config

import (
	"strings"

	"github.com/spf13/viper"
)

type Configuration interface {
	Version() string
	AppName() string
	AppEnv() string
	APIPort() string
	CORSOrigins() []string
	GrpcPort() string

	OtelEnabled() bool
	OtelExpoterUrl() string
	OtelProtocol() string

	DbDriver() string
	DbHost() string
	DbPort() string
	DbUser() string
	DbPass() string
	DbName() string
}
type configuration struct {
	version string
	appName string
	appEnv string
	apiPort string
	corsOrigins string
	grpcPort string

	otelEnabled    bool
	otelExpoterUrl string
	otelProtocol   string

	db_driver string
	db_host   string
	db_port   string
	db_user   string
	db_pass   string
	db_name   string
}

// Version returns version
func (cfg *configuration) Version() string {
	return cfg.version
}

// AppName returns AppName
func (cfg *configuration) AppName() string {
	return cfg.appName
}

// AppEnv returns AppEnv
func (cfg *configuration) AppEnv() string {
	return cfg.appEnv
}

// APIPort returns port
func (cfg *configuration) APIPort() string {
	return cfg.apiPort
}

// CORSOrigins returns CORS origins
func (cfg *configuration) CORSOrigins() []string {
	if len(cfg.corsOrigins) == 0 {
		return []string{"*"}
	}
	return strings.Split(cfg.corsOrigins, ",")
}

// GrpcPort returns port
func (cfg *configuration) GrpcPort() string {
	return cfg.grpcPort
}

// OtelEnabled returns true if OTEL is enabled
func (cfg *configuration) OtelEnabled() bool {
	return cfg.otelEnabled
}

// OtelExpoterUrl returns port
func (cfg *configuration) OtelExpoterUrl() string {
	return cfg.otelExpoterUrl
}

// OtelProtocol returns port
func (cfg *configuration) OtelProtocol() string {
	return cfg.otelProtocol
}

// DbDriver returns database driver
func (config *configuration) DbDriver() string {
	return config.db_driver
}

// DbHost returns database host
func (config *configuration) DbHost() string {
	return config.db_host
}

// DbPort returns database port
func (config *configuration) DbPort() string {
	return config.db_port
}

// DbUser returns database user
func (config *configuration) DbUser() string {
	return config.db_user
}

// DbPass returns database password
func (config *configuration) DbPass() string {
	return config.db_pass
}

// DbName returns database name
func (config *configuration) DbName() string {
	return config.db_name
}

func Init(
	env *viper.Viper,
) Configuration {

	config := &configuration{}

	env.AutomaticEnv()
	config.version = env.GetString("VERSION")
	config.appName = env.GetString("APP_NAME")
	config.appEnv = env.GetString("APP_ENV")
	config.apiPort = env.GetString("API_PORT")
	config.corsOrigins = env.GetString("CORS_ORIGINS")
	config.grpcPort = env.GetString("GRPC_PORT")

	config.otelEnabled = env.GetBool("OTEL_ENABLED")
	config.otelExpoterUrl = env.GetString("OTEL_EXPOTER_URL")
	config.otelProtocol = env.GetString("OTEL_PROTOCOL")

	config.db_driver = env.GetString("DB_DRIVER")
	config.db_host = env.GetString("DB_HOST")
	config.db_port = env.GetString("DB_PORT")
	config.db_user = env.GetString("DB_USER")
	config.db_pass = env.GetString("DB_PASS")
	config.db_name = env.GetString("DB_NAME")
	return config
}
