package instance

import (
	"context"
	"fmt"
	"log"

	"go.opentelemetry.io/otel/sdk/trace"
	"gorm.io/driver/mysql"
	"gorm.io/driver/postgres"
	"gorm.io/driver/sqlite"
	"gorm.io/gorm"

	"github.com/kernelshard/otelkit"
	"github.com/kernelshard/otelkit/tracer"
	"{{.PackageName}}/config"
	"{{.PackageName}}/constants"
	"{{.PackageName}}/instance/registry"
)

type Instance interface {
	Destroy() error
	DB() *gorm.DB
	Tracer() *tracer.Tracer
}

type singleton struct {
	db           *gorm.DB
	otelProvider *trace.TracerProvider
	tracer       *tracer.Tracer
	// TODO: define singleton object here
}

// Destroy closes the connections & cleans up the instance
func (instance *singleton) Destroy() error {
	return nil
}

func (instance *singleton) DB() *gorm.DB {
	return instance.db
}

func (instance *singleton) Tracer() *tracer.Tracer {
	return instance.tracer
}

// Init initializes the instance
func Init(cfg config.Configuration) Instance {
	singleton := &singleton{}

	var conn gorm.Dialector
	if cfg.DbDriver() == constants.DbDriverMySQL {
		url := fmt.Sprintf("%s:%s@tcp(%s:%s)/%s?charset=utf8&parseTime=True&loc=Local", cfg.DbUser(), cfg.DbPass(), cfg.DbHost(), cfg.DbPort(), cfg.DbName())
		conn = mysql.Open(url)
	} else if cfg.DbDriver() == constants.DbDriverPostgres {
		url := fmt.Sprintf("host=%s user=%s password=%s dbname=%s port=%s sslmode=disable TimeZone=Asia/Jakarta", cfg.DbHost(), cfg.DbUser(), cfg.DbPass(), cfg.DbName(), cfg.DbPort())
		conn = postgres.Open(url)
	} else if cfg.DbDriver() == constants.DbDriverSQLite {
		conn = sqlite.Open(cfg.DbName())
	} else {
		log.Fatal("unsupported database driver. use [mysql, postgres or sqlite] instead.")
	}
	gormDB, err := gorm.Open(conn, &gorm.Config{})
	if err != nil {
		log.Fatal(err)
	}

	singleton.db = gormDB
	registry.LoadModels(singleton.db)

	// otelkit
	config := otelkit.NewProviderConfig(
		cfg.AppName(),
		cfg.Version(),
	).WithOTLPExporter(
		cfg.OtelExpoterUrl(),
		cfg.OtelProtocol(),
		true,
	).WithSampling("probabilistic", 1.0)

	singleton.otelProvider, err = otelkit.NewProvider(context.Background(), config)
	singleton.tracer = otelkit.New(cfg.AppName())

	// TODO: initialize singleton object here

	return singleton
}
