package controllers

import (
	"net/http"

	"github.com/gin-gonic/gin"
	"{{.PackageName}}/app"
	"{{.PackageName}}/instance/registry"
)

// HealthController is an interface for health controller
type HealthController struct {
	svc app.ServiceRegistry
}

func (c *HealthController) Setup(svc app.ServiceRegistry) {
	c.svc = svc
}

func (c *HealthController) Route(router *gin.Engine) *gin.RouterGroup {
	routerGroup := router.Group("/")
	routerGroup.GET("/ping", c.Ping)
	return routerGroup
}

func (c *HealthController) Ping(ctx *gin.Context) {
	res, err := c.svc.HealthSvc().Ping(ctx.Request.Context())

	if err != nil {
		ctx.JSON(http.StatusOK, gin.H{
			"success":    false,
			"message":    err.Error(),
			"heart_beat": 0,
		})
		return
	}
	ctx.JSON(http.StatusOK, gin.H{
		"success":    res.Success,
		"message":    res.Message,
		"heart_beat": res.HeartBeat,
	})
}

func init() {
	registry.RegisterController(new(HealthController))
}
